# Dependencies
node_modules/
backend/site-packages/

# Environment variables
.env

# Python
__pycache__/
*.pyc

# Node.js
*.msi
*.zip

# Logs
*.log

# Build outputs
# dist/ - keep frontend/dist to serve from backend
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
